<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include("partials/metadata.ejs") %>

    <title>InfoStream</title>
  </head>
  <body>
    <%- include("partials/authed_nav_header.ejs") %>
    <main>
      <!-- Content -->
      <div class="main_content">
        <h1 class="posts_title">Recent Posts</h1>
        <ul>
          <% posts.forEach((post) => { %>
          <li>
            <a href="authed/posts/<%= post.id %>"><%= post.title %></a>
          </li>
          <% }) %>
        </ul>
      </div>
      <!-- Content end -->
    </main>
  </body>
</html>
