<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <%- include("partials/metadata.ejs") %>

    <link rel="alternative stylesheet" href="/styles/form.css" />
    
    <title>Infostream - Login</title>
  </head>
  <body>
    <div class="modal">
      <div class="form">
        <form id="login_form", action="/login" method="POST">
          <img
            class="logo"
            src="/assets/images/logo-no-background.png"
          />

          <a href="/"
            ><i class="fa fa-chevron-left close_form"></i
          ></a>

          <div class="form_group">
            <label for="email"
              >Email Address<span class="highlighted">*</span></label
            >
            <input
              type="text"
              name="email"
              placeholder="Enter your Email Address"
              required
            />
          </div>
          <div class="form_group">
            <label for="password"
              >Password<span class="highlighted">*</span></label
            >
            <input
              type="text"
              name="password"
              placeholder="Enter your Password"
              required
            />
          </div>

          <div class="buttons">
            <button type="submit" class="button" >Login</button>
            <p>
              Not a member?
              <span class="highlighted"
                ><a href="/register">Register</a></span
              >
            </p>
          </div>
          <!-- <script src="/scripts/login.js"></script> -->
        </form>
      </div>
    </div>
  </body>
</html>
