<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/metadata.ejs") %>
    <title><%= post.title %></title>
  </head>
  <body>
    <%- include("partials/nav_header.ejs") %>

    <main>
      <h1><%= post.title %></h1>

      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus
        excepturi totam quas, placeat quibusdam ullam unde reiciendis et deserunt
        animi doloremque labore repudiandae nihil voluptatem accusantium sint
        aperiam omnis! Fugiat!
      </p>
    </main>
  </body>
</html>
