<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include("partials/metadata.ejs") %>

    <title>InfoStream</title>
  </head>
  <body>
    <%- include("partials/public_nav_header.ejs") %>

    <main>Public stack</main>
  </body>
</html>
