<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="../Assets/images/infostream-favicon-red.png"
    />
    <link rel="stylesheet" href="../styles/generic.css" />
    <title>InfoStream</title>
  </head>
  <body>
    <header>
      <div class="logo_container">
        <img class="logo" src="../Assets/images/logo-no-background.png" />
      </div>
    </header>
    <main>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
        ipsa, similique tenetur labore deleniti sit obcaecati dignissimos
        necessitatibus eaque maxime quo repudiandae architecto laudantium.
        Laboriosam nisi animi similique eaque distinctio.
      </p>
    </main>
  </body>
</html>
