.link-button {
  background: #f3f3f3;
  color: black;
  border: 1px solid #cfcfcf;
  padding-left: 10px;
  padding-right: 10px;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
  margin-bottom: 10px;
  width: 100%;
}
.link-button:hover {
  color: #de0000;
}
