body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Form styling start */

.close_form {
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
}

.highlighted {
  color: #de0000;
  font-weight: bold;
}

.highlighted a {
  position: relative;
  color: #de0000;
  text-decoration: none;
}

.highlighted a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #de0000;
  transition: 0.3s;
}

.highlighted a:hover::before {
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 1em;
  font-size: 1.3em;
  background-color: #666666;
  color: white;
  border: none;
  border-radius: 5px;
}

.button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.login_form {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login_form form {
  border: 1px solid #de0000;
  border-radius: 10px;
  background: #f6f6f6;
  padding: 2em;
  width: 400px;
  position: relative;
}

.logo {
  height: 70px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #666666;
}

input {
  padding: 0.5em;
  margin-bottom: 1em;
  width: 100%;
  border: 1px solid #666666;
}

/* Form styling end */
