@font-face {
  font-family: AlbertSans;
  src: url("../assets/fonts/Albert Sans.ttf");
}

* {
  box-sizing: border-box;
  font-family: AlbertSans;
}

body {
  padding: 0;
  margin: 0;
  background: white;
}

/* Nav-bar styling start */
header {
  background: #f3f3f3;
  height: 66px;
}

.logo {
  float: left;
  padding: 8px;
  /* border: 1px solid red; */
  height: inherit;
  margin-left: 1em;
}

header * {
  color: black;
}

header ul {
  float: right;
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  list-style: none;
}

.chevron_down {
  font-size: 0.8em;
}

.nav_bar li {
  float: left;
  position: relative;
}

.nav_bar li ul {
  position: absolute;
  top: 66px;
  right: 0;
  width: inherit;
  display: none;
  background: #f3f3f3;
}

.nav_bar li:hover ul {
  display: block;
}

.nav_bar li ul li {
  width: 100%;
}

.nav_bar li ul li a {
  padding: 10px;
}

.logout {
  color: red;
}

.nav_bar li ul li a:hover {
  background: #cfcfcf;
}

.nav_bar li a {
  display: block;
  padding: 21px;
  font-size: 1.2em;
  text-decoration: none;
}

.nav_bar li a:hover {
  background: #cfcfcf;
}

.menu_toggle {
  display: none;
}

/* Nav-bar styling end */
